/* placeholder for future css */

.container {
    max-width: 1128px;
}

.app-clickable {
    cursor: pointer;
}

.app-primary-link {
    color: #fff;
    text-decoration: none;
}
.app-primary-link:hover {
    color: #fff;
    text-decoration: none;
}

.app-add-to-cart-btn > * {
    padding-left: 0;
    padding-right: 0;
}
img.app-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}