/* placeholder for future css */

.container {
    max-width: 1128px;
}

.app-clickable {
    cursor: pointer;
}

.app-primary-link {
    color: #fff;
    text-decoration: none;
}
.app-primary-link:hover {
    color: #fff;
    text-decoration: none;
}